.fighter {
	max-width: 35%;
	margin: 0 auto;
	background-color: #fff200b9;
	padding: 8px;

	&__name {
		text-align: center;
		font-size: 64px;
		color: chartreuse;
		text-shadow: 2px 2px 4px #000000;
	}

	&__stats {
		text-align: center;
	}
}
