<table class="history">
	<thead>
		<tr class="history__row-head">
			<th (click)="sortBy(sortProperty.Date)" class="history__col-date">Date</th>
			<th (click)="sortBy(sortProperty.Hero)" class="history__col-hero">Hero</th>
			<th (click)="sortBy(sortProperty.Opponent)" class="history__col-opponent">Opponent</th>
			<th (click)="sortBy(sortProperty.Win)" class="history__col-result">Result</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let fight of sortedFights" class="history__row">
			<td class="history__col-date">{{ fight.date | date : 'medium' }}</td>
			<td class="history__col-hero">{{ fight.hero }}</td>
			<td class="history__col-opponent">{{ fight.opponent }}</td>
			<td class="history__col-result">{{ fight.win ? 'win' : 'lost' }}</td>
		</tr>
	</tbody>
</table>
