@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

.title {
	font-size: 42px;
	text-align: center;
	font-family: 'Mochiy Pop P One', sans-serif;

	text-shadow: 2px 2px 4px #000000;

	letter-spacing: 15px;

	&__link {
		color: #fff300;
		display: inline-block;
		margin: 12px 0;
	}
}
