<div class="card" [ngClass]="{'orange': isSelected}">
	<h3 class="card__title hero__name">{{ hero.name }}</h3>

	<div class="card__information" >
		<div class="card__image">
			<img [src]="hero.image.url" alt="{{ hero.name }} avatar" class="hero__avatar" />
		</div>

		<div class="card__description">
			<ul class="hero__stats">
				<li>combat: {{ hero.powerstats.combat }}</li>
				<li>durability: {{ hero.powerstats.durability }}</li>
				<li>intelligence: {{ hero.powerstats.intelligence }}</li>
				<li>power: {{ hero.powerstats.power }}</li>
				<li>speed: {{ hero.powerstats.speed }}</li>
				<li>strength: {{ hero.powerstats.strength }}</li>
			</ul>

      <div class="hero__buttons">
        <button class="btn hero__buttons-select" [disabled]="isSelected" (click)="!isSelected? addToSelected(): removeFromSelected()">
          <span *ngIf="!isSelected; else selected">Select</span>
          <ng-template #selected>Selected</ng-template>
        </button>
        <button class="btn hero__buttons-favourites" [ngClass]="{'red': isFavourite}" (click)="!isFavourite? addToFavourite(): removeFromFavourites()">
          <span *ngIf="isFavourite; else favourite" >Remove</span>
          <ng-template #favourite>Add</ng-template>
        </button>
      </div>
		</div>
	</div>
</div>
