.card {
	padding: 20px;
	border: 1px solid #fff300;
	cursor: pointer;

	&__title {
		text-align: center;
		margin-bottom: 12px;
	}
	&__information {
		display: flex;
	}
	&__description {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-grow: 1;
	}
}

.hero {
	&__name {
		text-transform: uppercase;
	}

	&__stats {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 18px;

		& li {
			display: flex;
			justify-content: space-between;
		}
	}

	&__avatar {
		max-height: 250px;
	}

	&__buttons {
		display: flex;
		gap: 12px;

		&-select {
			max-width: 100px;
			padding: 10px;
			background-color: #fd7c1a;
		}
		&-favourites {
			max-width: 100px;
			padding: 10px;
			background-color: #07bd07;
		}
	}
}

.red {
	background-color: red;
}

.orange {
	background-color: #fd7c1a;
}

.yellow {
	background-color: #fff300;
}

.green {
	background-color: rgba(36, 255, 36, 0.53);
}
