<div class="card">
	<h3 class="card__title hero__name">{{ hero.name }}</h3>

  <div class="card__information">
    <div class="card__image">
      <img [src]="hero.image.url" alt="{{ hero.name }} avatar" class="hero__avatar" />
    </div>

    <div class="card__description">
      <ul class="hero__stats">
        <li>combat: {{ hero.powerstats.combat }} </li>
        <li>durability: {{ hero.powerstats.durability }}</li>
        <li>intelligence: {{ hero.powerstats.intelligence }}</li>
        <li>power: {{ hero.powerstats.power }}</li>
        <li>speed: {{ hero.powerstats.speed }}</li>
        <li>strength: {{ hero.powerstats.strength }}</li>
      </ul>

      <button class="btn hero__select">Select</button>
    </div>
  </div>
</div>
