<div
	[ngClass]="{ green: checkIsFavourite() && !checkIsSelected(), orange: checkIsSelected() }"
	(click)="showHeroInfo($event)"
	class="card">
	<h3 class="card__title hero__name">{{ hero.name }}</h3>

	<div class="card__information">
		<div class="card__image">
			<img [src]="hero.image.url" alt="{{ hero.name }} avatar" class="hero__avatar" />
		</div>

		<div class="card__description">
			<ul class="hero__stats">
				<li>combat: {{ hero.powerstats.combat }}</li>
				<li>durability: {{ hero.powerstats.durability }}</li>
				<li>intelligence: {{ hero.powerstats.intelligence }}</li>
				<li>power: {{ hero.powerstats.power }}</li>
				<li>speed: {{ hero.powerstats.speed }}</li>
				<li>strength: {{ hero.powerstats.strength }}</li>
			</ul>

			<div class="hero__buttons">
				<button
					[disabled]="checkIsSelected()"
					[ngClass]="{ yellow: checkIsSelected() }"
					(click)="addToSelected(hero.id)"
					class="btn hero__buttons-select">
					{{ !isSelected ? 'Select' : 'Selected' }}
				</button>
				<button
					[ngClass]="{ red: checkIsFavourite() }"
					(click)="!isFavourite ? addToFavourite(hero) : removeFromFavourites(hero.id)"
					class="btn hero__buttons-favourites">
					{{ !isFavourite ? 'Add' : 'Remove' }}
				</button>
			</div>
		</div>
	</div>
</div>
