.search {
  margin-bottom: 10px;
  text-align: center;

  &__keyboard{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 8px;
    margin-right: 4px;
  }

	&__form {
		position: relative;

    display: inline-block;
		max-width: 50%;

    &-invalid{
      color: red;
      border-color: red;
      outline-color: red;
    }
	}

	&__submit {
		position: absolute;
		bottom: 0;
		right: 0;
		border: none;
		background: none;
		padding: 2px 4px;
	}

	&__svg {
		height: 20px;
	}

  &__validation{
    height: 1em;
    color: red;
  }
}


.heroes {
  text-align: center;

  &__board{
  }
  &__waiting{
  }
  &__loading{
  }
}

.select__page{
}
