<div *ngIf="loadedHeroInfo && loadedOpponentInfo; else loading">
	<div class="battle__fighters fighters">
		<div class="battle__card-hero fighters__hero">
			<app-fighter [fighter]="hero"></app-fighter>
		</div>
		<div class="battle__card-opponent fighters__opponent">
			<app-fighter [fighter]="opponent"></app-fighter>
		</div>
		<span class="battle__span">VS</span>
		<button (click)="fight()" class="btn button__fight">Fight</button>
	</div>
	<div class="powerups">
		<h4 class="powerups__title">Powerups:</h4>
		<ul class="powerups__list">
			<li *ngFor="let powerup of powerups" class="powerups__item">
				<h4>{{ powerup.title }}</h4>
				<div>{{ powerup.powerName }} +{{ powerup.addPowerfull }}</div>
				<button class="btn">Use</button>
				<div>Left: {{ powerup.quantity }}</div>
			</li>
		</ul>
	</div>
</div>

<ng-template #loading class="loading">
	<div class="lds-dual-ring"></div>
</ng-template>
