@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
  padding: 0 12px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  background-image: url('./assets/images/bg-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

input, textarea{
  display: block;
  width: 100%;
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);

  opacity: 1;
  transform: scale(1);

  transition: opacity 250ms ease-in-out, transform 250ms ease;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
  7px 7px 20px 0 rgba(0,0,0,.1),
  4px 4px 5px 0 rgba(0,0,0,.1);
  outline: none;

  &-orange{
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
  }

  &-orange:hover:not(:disabled) {
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
    transition: all 0.2s ease;
  }

  &-orange:active {
    top: 2px;
  }

  &:disabled{
    background: rgb(253, 240, 223);
    color: rgba(189, 189, 189, 0.85);
  }
}

.message{
  display: block;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 700;
  background-color: #cccccc;

  &-success{
    background-color: #07bd07;
  }

  &-warning{
    background-color: red;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



