.information {
	&__list {
		display: flex;
		gap: 20px;
	}

	&__button {
		min-width: 200px;
		text-align: center;
		background-color: #cccccc;

		&:hover {
			background-color: #fd7c1a;
		}

		&.active {
			background-color: #fff300;
		}
	}
}
